################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BestHackathon2024
/.vs
API/bin/Debug/net9.0/API.dll
API/bin/Debug/net9.0/API.exe
API/bin/Debug/net9.0/API.pdb
